[Unit]
Description=DVMFNE Monitor
After=network.target

[Service]
RestartSec=2s
Type=simple
WorkingDirectory=/usr/local/share/fnemon/fnemon
ExecStart=/usr/bin/python3 /usr/local/share/fnemon/fnemon/fnemon.py
Restart=always

[Install]
WantedBy=multi-user.target
